<div class="container">
  <div class="row">
    <app-header></app-header>
  </div>


  <div class="row top">
    <div class="col-xs-2">
      <p class="ex1">
        <button (click)="toggleHighlight()" type="button"
                class="btn spacer btn-lg btn-default"
                data-toggle="button"
                style="width: 80%;"
                aria-pressed="false" autocomplete="off">
          Assist
        </button>

      <button class="btn spacer btn-lg btn-primary"
              style="width: 80%; "
              (click)="dealCards()">Deal
      </button>
      <button [disabled]="requestHitDisabled()"
              class="btn spacer btn-lg btn-success"
              style="width: 80%;"
              (click)="requestHit()">Hit
      </button>
      <button [disabled]="requestStandDisabled()"
              class="btn spacer btn-lg btn-danger"
              style="width: 80%;"
              (click)="requestStand()">Stand
      </button>
      </p>
    </div>
    <div class="col-xs-10">
      <app-player [title]='playerTitle'></app-player>
    </div>
  </div>
  <hr>
  <div class="row spacer">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-10">
      <app-dealer [title]='dealerTitle'></app-dealer>
    </div>
  </div>


</div>


