p.ex1 {
  margin-top: 35px;
}

.btn .spacer
{
  margin-top: 10px;
  margin-left: 0px;
  margin-bottom: 0px;
}

.row .spacer {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 0px !important;
}


