<div class="container">
  <div class="row">
    <app-header></app-header>
  </div>

  <div class="row">
    <hr>
    <app-dealer [title]='dealerTitle'></app-dealer>
    <br>
    <hr>
    <app-player [title]='playerTitle'>
      <div class="col-xs-2">
        <button [disabled]="requestHitDisabled()"
                class="btn btn-lg btn-success"
                style="width: 100%;"
                (click)="requestHit()">Hit
        </button>
      </div>
      <div class="col-xs-2">
        <button [disabled]="requestStandDisabled()"
                class="btn btn-lg btn-danger"
                style="width: 100%;"
                (click)="requestStand()">Stand
        </button>
      </div>
    </app-player>

  </div>

