<div class="container" *ngIf="gameStarted">
  <div class="row">
    <div class="col-xs-12">
      <div *ngIf="assist; else templateName">
        <h3>{{ title }} ({{ playStatus }}) Count {{ countForHand }}</h3>
      </div>

      <ng-template #templateName>
        <h3> {{ title }} </h3>
      </ng-template>
    </div>
    <!-- project content specific to either a dealer or player here . not currently used-->
    <ng-content></ng-content>
  </div>

  <br>
  <div class="row" *ngIf="cards?.length > 0">
    <div class="col-xs-2" *ngFor="let card of cards">
      <img [src]="card.getCardImage()"
           alt="{{ card.name }}"
           [ngClass]="colorCodedBorder(card)"
           style="max-height: 180px; min-width: 100px;">
    </div>
  </div>
</div>
